.button {
	box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
    transition: box-shadow 0.1s ease-in-out;
	transition: transform 0.1s ease-in-out
  }
  .button:hover {
	box-shadow: 0px 7px 15px rgba(0,0,0,0.5);
	transform: scale(1.05);
  }
  .button:focus,
  .button:active,
  .button:disabled {
	box-shadow: 0px 2px 3px rgba(0,0,0,0.7);
	transform: scale(0.93);
  }
   .drawer {
      width: 23%;
            }
   .column {
      width: 25%;
}
